/*
* @Author: 12574
* @Date:   2018-04-19 20:05:12
* @Last Modified by:   12574
* @Last Modified time: 2018-04-19 21:06:08
*/
/*导航主体*/
.nav-side {
	float: left;
	width: 130px;
	min-height: 100px;
}
.nav-side .nav-item {
	line-height: 25px;
	font-size: 13px;
}
.nav-side .nav-item .link {
	color: #888;
}
.nav-side .nav-item.active .link {
	color: #c60023;
}
/*右侧内容区*/
.content.with-nav {
	float: left;
	width: 950px;
}