/*
* @Author: 12574
* @Date:   2018-04-19 19:08:51
* @Last Modified by:   12574
* @Last Modified time: 2018-04-19 19:14:23
*/
.footer {
	padding-bottom: 10px;
}
.footer .links {
	text-align: center;
	color: #666;
	line-height: 30px;
}
.footer .links .link {
	padding: 0 10px;
}
.footer .copyright {
	text-align: center;
	color: #666;
	line-height: 30px;
}