<meta charset="UTF-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="keywords" content="happymmall,电商，MMall电商、张腾金、相机、耳机、手表、笔记本、数码产品">
<meta name="description" content="一个提供数码、手机、网上购物、网上商城、图书、笔记本、食品的最优惠、最实质、最便捷购物网站">
<link rel="dns-prefetch"  href="//cdn.bootcss.com">
<link rel="dns-prefetch"  href="//s.zhangtengjin.com">
<link rel="dns-prefetch"  href="//img.zhangtengjin.com">

<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?1066c3fc3b5fb0f0f6dcd3f560512e59";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
