/*
* @Author: 12574
* @Date:   2018-04-19 17:24:04
* @Last Modified by:   12574
* @Last Modified time: 2018-04-21 21:04:39
*/

.nav-simple {
	height: 60px;
	line-height: 60px;
	border-bottom: 1px solid #ddd;
	background: #fff;
}
.nav-simple .logo {
	font-size: 26px;
	font-weight: bold;
	color: #c60023;
	text-decoration: none;
}